## Práctica 2

## Librerias

In [18]:
import pandas as pd
import numpy as np

## Datos

In [19]:
# Lecturas de Fondo
tiempo = [60,120,180,240,300]
cuentas = [20,15,13,13,10]
Fondo = pd.DataFrame(tiempo, columns = ['Tiempo'])
Fondo['Cuentas'] = cuentas
Fondo

   Tiempo  Cuentas
0      60       20
1     120       15
2     180       13
3     240       13
4     300       10

## 2.- Prueba de funcionamiento y lectura del fondo ambiental.

In [20]:
# Promedio 
Lf = Fondo.mean()[1]
Lf

14.2

In [21]:
# Desviación estándar
dsv_std = Fondo.std()[1]
dsv_std

3.7013511046643495

## 3.- Penetración de la radiación alfa.

In [22]:
def val_norm(val,lf):
    l0 = val[0]
    n_norm = []
    for i in np.arange(len(val)):
        a = val[i]-lf
        b = l0-lf
        lN = a/b
        n_norm.append(lN)
    return n_norm

### Promedios radiación alfa $(Am-241)$

Con cada barrera se tomaron 3 mediciones, la tabla a continuación correspone al promedio con cada numero de barreras (tanto de aluminio como de Papel)

In [31]:
L = ['L_0', 'L_1', 'L_2', 'L_3']

In [37]:
Prom_Alfa = pd.DataFrame(L,columns=['No. de Barreras'])
Prom_Alfa['Aluminio'] = [14979.67,427.33,405,415.67]
Prom_Alfa['Papel'] = [14979,415.67,405.67,391.67]
Prom_Alfa

  No. de Barreras  Aluminio     Papel
0             L_0  14979.67  14979.00
1             L_1    427.33    415.67
2             L_2    405.00    405.67
3             L_3    415.67    391.67

In [29]:
prom = pd.DataFrame([378,391,406])
prom.mean()

0    391.666667
dtype: float64

In [39]:
aluminio_n = val_norm(Prom_Alfa['Aluminio'],Lf)
aluminio_n

[1.0, 0.027605547971430233, 0.02611344648714675, 0.02682642108801127]